.container {
  display: grid;
  grid-template-columns: repeat(10, [col] 10%);
}

.item {
  margin: 10px;
}

.container .logo {
  width: 100%;
  max-width: 400px;
}

.span-1 {
  grid-column: auto / span 10;
}

.span-2 {
  grid-column: auto / span 10;
}

.span-3 {
  grid-column: auto / span 10;
}

.span-4 {
  grid-column: auto / span 10;
}

.span-5 {
  grid-column: auto / span 10;
}

.span-6 {
  grid-column: auto / span 10;
}

.span-7 {
  grid-column: auto / span 10;
}

.span-9 {
  grid-column: auto / span 10;
}

.span-9 {
  grid-column: auto / span 10;
}

.span-10 {
  grid-column: auto / span 10;
}

.calendly-inline-widget {
  width: 100%;
  min-height: 900px;
  height: 100%;
}

@media (min-width: 1024px) {
  .container .logo {
    max-width: 600px;
  }

  .span-1 {
    grid-column: auto / span 1;
  }

  .span-2 {
    grid-column: auto / span 2;
  }

  .span-3 {
    grid-column: auto / span 3;
  }

  .span-4 {
    grid-column: auto / span 4;
  }

  .span-5 {
    grid-column: auto / span 5;
  }

  .span-6 {
    grid-column: auto / span 6;
  }

  .span-7 {
    grid-column: auto / span 7;
  }

  .span-9 {
    grid-column: auto / span 9;
  }

  .span-9 {
    grid-column: auto / span 9;
  }

  .span-10 {
    grid-column: auto / span 10;
  }
}

body {
  font-size: 14px;
}

h1, h2, p, ul, li {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 2rem;
  color: #44443C;
}

h2 {
  font-size: 1.5rem;
  color: #44443C;
}

p {
  font-size: 1 rem;
  line-height: 1.3rem
}
